[changelog]
header = ""
body = """
{% for group, commits in commits | group_by(attribute="group") %}
### {{ group | upper_first }}
{% for commit in commits %}
- {{ commit.message | split(pat="\n") | first | trim }}\
{% endfor %}
{% endfor %}
"""
trim = true

[git]
conventional_commits = true
filter_unconventional = true
split_commits = false
commit_parsers = [
  { message = "^feat", group = "Features" },
  { message = "^fix", group = "Bug Fixes" },
  { message = "^perf", group = "Performance" },
  { message = "^refactor", group = "Refactor" },
  { message = "^style", group = "Styling" },
  { message = "^docs", group = "Documentation" },
  { message = "^chore\\(release\\)", skip = true },
  { message = "^chore\\(version\\)", skip = true },
  { message = "^chore: version", skip = true },
  { message = "^chore", group = "Miscellaneous" },
  { message = "^build", group = "Build" },
  { message = "^ci", skip = true },
]
filter_commits = false
tag_pattern = "v[0-9].*"
